body {
    background: rgba(8, 10, 31, 0.3);
    padding: 0 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#survey-form {
    
    background-color: rgb(12, 6, 36);
    color:aliceblue;
    padding: 20px 100px;
    margin: 10px auto;
    max-width: 40%px
    
    

}
label {
    display: block;
    margin: 10px 0;
} 
    
input, textarea {
    margin-top: 5px;
}

fieldset {
    display: block;
    margin: 0 auto;
    border: none;
    
}
h1, p {
    text-align: center;
}
input, textarea, select {
width: 100%;
background-color: rgb(12, 6, 36);
color: aliceblue;
height: 25px;
border: 1px solid aliceblue;
}
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
input[type="submit"] {
    width: 30%;
    display: block;
    margin: 25px auto;
    border-radius: 50px;
    height: 30px;

}
#comments {
    /* height: unset;
    row-gap: 5;
    columns: 5; */
}


